extends layout
block content
    div
        a(href='/move/forward/1', class='col-xs-10 btn btn-lg btn-default') Move forward
    div
        a(href='/move/turn/left', class='col-xs-5 btn btn-lg btn-default') Turn Left
    div
        a(href='/move/turn/right', class='col-xs-5 btn btn-lg btn-default') Turn Right
