doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/bootstrap-theme.min.css')
    script(src='/js/jquery-2.0.3.min.js')
    body
      if message
        div(class="alert alert-success")
          = message
    block content

    div
        a(href='/action') Available Actions
    div
        a(href='/commands') Queue List
    div
        a(href='/work') Perform next action

    if commands
        - each command in commands
            p
                = JSON.stringify(command)
    script(src='/js/client.js')
